[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule ".vim/bundle/vim-ku"]
	path = .vim/bundle/vim-ku
	url = https://github.com/emonkak/vim-ku.git
	ignore = dirty
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
	ignore = dirty
[submodule ".vim/bundle/vim-tcomment"]
	path = .vim/bundle/vim-tcomment
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = dirty
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = https://github.com/nistude/xmledit.git
	ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
	ignore = dirty
